src/main/resources/countries.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.sbelei.org/countries/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="countries" targetNamespace="http://www.sbelei.org/countries/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.sbelei.org/countries/">
      <xsd:element name="getCountries">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getCountriesResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="firstLetter" type="xsd:string"></xsd:element>
            <xsd:element name="listOfCountries" type="xsd:string"></xsd:element>
        </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getCountriesRequest">
    <wsdl:part element="tns:firstLetter" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getCountriesResponse">
    <wsdl:part element="tns:listOfCountries" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="countries">
    <wsdl:operation name="getCountries">
      <wsdl:input message="tns:getCountriesRequest"/>
      <wsdl:output message="tns:getCountriesResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="countriesSOAP" type="tns:countries">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getCountries">
      <soap:operation soapAction="http://www.sbelei.org/countries/getCountries"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="countries">
    <wsdl:port binding="tns:countriesSOAP" name="countriesSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
